@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background-color: #474647;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 60%;
    margin: auto;
    padding-top: 10px;
}

.big_textarea, .big_header {
    grid-column: span 2;
}

textarea {
    resize: none;
    height: 300px;
    border-radius: 10px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

#ansøgings_form {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr;
}

button {
    width: 100px;
    height: 30px;
    margin: auto;
    grid-column: span 2;
    border-radius: 10px;
}


.small_header, .big_header {
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-family: 'Nova Square', sans-serif;
}

